<div class="footer">
    <div class="frame3">
      <div class="quick-links">Quick Links</div>
      <div class="link">Home</div>
      <div class="link">About Me</div>
      <div class="link">Blog</div>
      <div class="link">Projects</div>
      <div class="link">Achievements</div>
      <div class="link">Contact Me</div>
    </div>
    <div class="line1"></div>
    <div class="frame4">
      <div class="subscribe-to-my-blog">Subscribe to My Blog</div>
      <div class="group5">
        <div class="group1">
          <div class="rectangle3">Subscribe</div>
        </div>
        <div class="group2">
          <div class="rectangle2">Enter your Email</div>
        </div>
      </div>
    </div>
  </div>
  