<div class="carousel-tech-stack">
    <div class="arrow left-arrow">
      <div class="vector">
        <img src="ArrowLeft.png" />
      </div>
    </div>
    
    <div class="tech-card">
      <div class="icon mingcute-web-fill">
        <img src="WebDevIcon.png" />
      </div>
      <div class="title">Web Developer</div>
      <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</div>
    </div>
  
    <div class="tech-card">
      <div class="icon eos-icons-iot">
        <img src="WebDevIcon.png" />
      </div>
      <div class="title">Web Developer</div>
      <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</div>
    </div>
  
    <div class="tech-card">
      <div class="icon arcticons-sketchbook">
        <img src="WebDevIcon.png" />
      </div>
      <div class="title">Web Developer</div>
      <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</div>
    </div>
  
    <div class="tech-card">
      <div class="icon simple-icons-cyberdefenders">
        <img src="WebDevIcon.png" />
      </div>
      <div class="title">Web Developer</div>
      <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</div>
    </div>
  
    <div class="tech-card">
      <div class="icon iconamoon-3d">
        <img src="WebDevIcon.png" />
      </div>
      <div class="title">Web Developer</div>
      <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</div>
    </div>
  
    <div class="arrow right-arrow">
      <div class="vector">
        <img src="ArrowRight.png" />
      </div>
    </div>
  </div>
  